*.apk
/.idea
/ATFramework_aPDR/ATFramework/log/
/ATFramework_aPDR/SFT/report/
/ATFramework_aPDR/SFT/log/
/ATFramework_aPDR/app/
/ATFramework_aPDR/ATFramework/utils/_ecl_operation/log/
/ATFramework_aPDR/ATFramework/utils/log/module.log
/ai-style-scan-allure-results/
/ai-style-scan-allure-report/
/ai-style-scan-allure-report-html/
/allure-results/
/summary.json
/ATFramework_aPDR/SFT/exception_screenshot/
/ATFramework_aPDR/SFT/opening_mui/
/__pycache__/
*.pyc
*.pyo
/server-scan-allure-report/
/server-scan-allure-report-html/
/server-scan-allure-results/
/sft-allure-report/
/sft-allure-report-html/
/sft-allure-results/
/allure-report/
