*.apk
*.mp4
*.mkv
*.mov
*.3gp
/.idea
/ATFramework_aPDR/ATFramework/log/
/ATFramework_aPDR/SFT/report/
/ATFramework_aPDR/SFT/log/
/ATFramework_aPDR/app/
/ATFramework_aPDR/ATFramework/utils/_ecl_operation/log/
/ATFramework_aPDR/ATFramework/utils/log/module.log
/ai-style-scan-allure-results/
/ai-style-scan-allure-report/
/ai-style-scan-allure-report-html/
