*.apk
*.mp4
*.mkv
*.mov
*.3gp
/ATFramework_aPDR/ATFramework/log/
/ATFramework_aPDR/SFT/report/
/ATFramework_aPDR/SFT/log/
/ATFramework_aPDR/app/configuration.txt
/ATFramework_aPDR/app/PowerDirector-DRA140225_01-13.0.1.1224210.aab
/ATFramework_aPDR/app/PowerDirector-DRA140225_01-13.0.1.1224210.txt
/ATFramework_aPDR/app/resources.txt
/ATFramework_aPDR/app/seeds.txt
/ATFramework_aPDR/app/usage.txt
/ATFramework_aPDR/ATFramework/utils/_ecl_operation/log/module.log.2023-03-10
/ATFramework_aPDR/ATFramework/utils/_ecl_operation/log/module.log.2023-12-21
/ATFramework_aPDR/ATFramework/utils/_ecl_operation/log/module.log.2023-12-22
/ATFramework_aPDR/ATFramework/utils/_ecl_operation/log/
!/ATFramework_aPDR/SFT/log/
